<div id="<%= dom_id tweet %>" class="px-4">
  <p>
    <span class="fw-bold">Username:</span>
    <%= tweet.username %>
  </p>

  <p>
    <span class="fw-bold">Description:</span>
    <%= tweet.description %>
  </p>

</div>
