:root{
    --twitterblue: rgb(29, 155, 240);
    --twitteryellow: rgb(255, 212, 0);
    --twitterpink: rgb(249, 24, 128);
    --twitterpurple: rgb(120, 86, 255);
    --twitterorange: rgb(255, 122, 0);
    --twittergreen: rgb(0, 186, 124);

    --classic: rgb(255, 255, 255);
    --clear: rgb(21, 32, 43);
    --dark: rgb(0, 0, 0);
}

@font-face {
    font-family: "Helvetica Neue LT";
    src: url('HelveticaNeueLTPro-55Roman.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue LT";
    src: url('HelveticaNeueLTPro-75Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Helvetica Neue LT";
    font-weight: normal;

    background-color: var(--dark);
    color: var(--classic);
}

a{
    text-decoration: none;
    color: var(--classic);
}

a:hover{
    color: var(--twitterblue);
}

#fake-container{
    padding-left: 12em;
    padding-right: 12em;
}

/****************************************************/

.btntwitter{
    border-radius: 3rem;
    background-color: var(--twitterblue);
    border: 1px solid var(--twitterblue);   
}

.twitter-list{
    list-style: none;
    padding: 0;
}

.twitter-list li i{
    font-size: 2em;
    vertical-align: middle;
}

.lgroup a{
    color: var(--classic);
    text-decoration: none;
}

.lgroup a:hover{
    color: var(--twitterblue);
}

/*-----------------------------------*/

.username{
    color: grey;
}

.custom-search{
    border-radius: 2rem;
    padding-top: 0.70em;
    padding-bottom: 0.70em;
}